.App {
    text-align: center;
    position: relative;
    padding-bottom: 200px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #fff;
    box-shadow: 0 2px 2px -2px rgba(199, 183, 183, 0.692);
}

.navbar h1 {
    font-family: "Potta One", cursive;
    font-weight: 300;
    font-size: large;
    margin: 0;
    margin-left: 15px;
}

.background-bar {
    background: #f3f3f4;
    height: 80px;
    width: 100%;
}

.resultscontainer {
    margin: 0 auto;
    width: 95%;
    background: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 5px 9px 50px rgb(0 0 0 / 6%);
}

.searchcontainer {
    max-width: 628px;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-50%);
    position: relative;
    z-index: 100;
}

.searchInputWithDrop {
    background: #fff;
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    border-radius: 8px;
    height: 64px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    border-radius: 8px;
}

.leftSideSearch {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 28px;
    width: 60%;
}

.searchinput {
    font-size: 16px;
    padding: 0;
    height: 100%;
    width: 90%;
    padding-left: 60px;
    padding-right: 24px;
    background: transparent;
    border: 1px solid transparent;
    color: #0d0c22;
}

.searchinput:focus {
    outline: 0;
}

.vertical-divider {
    margin-right: 24px;
    width: 2px;
    background: #e7e7e9;
    height: 50%;
}

.rightSideSearch {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    cursor: pointer;
    position: relative;
}

.rightSideSearch p {
    margin: 0;
    font-weight: bold;
}

.dropdownSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.dropdownSearchClose {
    transform: rotate(180deg);
}

.autocompleteContainer {
    position: absolute;
    top: 70px;
    z-index: 50;
    width: 90%;
    max-height: 300px;
    box-shadow: 5px 9px 50px rgb(0 0 0 / 6%);
    border-radius: 8px;
    background: #fff;
}

.relationsSuggestor {
    width: 100%;
    left: -16px;
    max-height: 200px;
    top: 50px;
    box-sizing: border-box;
    background: #fff;
    z-index: 10;
    transform: rotate(0deg);
}

.autocompleteElem {
    width: 100%;
    padding: 15px 8px;
    cursor: pointer;
}

.RtypeElem {
    width: 100%;
    padding: 15px 8px;
    cursor: pointer;
}

.RtypeElemSelected p {
    color: #ea4c89;
}

.RtypeElem:hover {
    background: #e7e7e9;
}

.autocompleteElem p:hover {
    color: #ea4c89;
}

.autocompleteElem p {
    margin: 0;
    padding-left: 5px;
    text-align: start;
    transition: all 0.2s;
}

.wordTitle h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.raffinementsContainer {
    width: 100%;
    padding: 0 45px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.raffinementsContainer p {
    margin: 0;
}
.raffinementsContainer > p,
.defwrapper p {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #6e6d7a;
}

.raffinementElems {
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex-wrap: wrap;
}

.raffElem {
    padding: 10px 20px;
}

.raffElem p {
    color: #ea4c89;
    cursor: pointer;
    transition: all 0.1s;
}

.raffElem p:hover {
    color: #f082ac;
}

.definitionsContainer {
    padding: 0 45px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    max-height: 0;
}

.notVisibleDefs {
    max-height: 0;
}

.defwrapper p {
    text-align: start;
    margin: 0;
}
.defwrapper {
    display: flex;
    padding: 15px 45px;
    transition: all 0.2s;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;
}
.defwrapper:hover {
    background: #f3f3f4;
}

.definition {
    padding: 0 25px;
    text-align: start;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.definition:not(:last-child) {
    border-bottom: 0.3px solid #6e6d7a49;
}

.secondresultscontainer {
    margin-top: 100px;
}

.realtionsContainer {
    margin-bottom: 20px;
    z-index: 2;
}

.relationsWrapper {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease-out;
    max-height: 0;
}

.entity {
    color: #ea4c89;
    padding: 10px 2px;
    max-width: 170px;
    width: 15%;
    border: 0.5px solid #f082ac;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 9px;
    margin-bottom: 9px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.entity:hover {
    color: #fff;
    background: #f082ac;
    border: #f082ac;
}
.defArrow {
    position: relative;
    transition: all 0.3s;
    z-index: 1;
}

.defArrowclose {
    transform: rotate(180deg);
}

.pageHandler {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #0d0c22;
    font-weight: 700;
    transition: all 0.2s;
}

.pageHandler *:hover {
    color: #ea4c89;
}

.pageHandlersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pageHandlersContainer:not(:first-child) {
    padding-bottom: 20px;
}

.iconpageHandler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notExist {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0;
}

.notExist:last-child {
    padding-bottom: 40px;
}

.notExist div {
    color: #ea4c89;
    margin-left: 20px;
}

.emptyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyContainer div {
    margin: 20px 0;
    padding: 0 30px;
    text-align: start;
    color: #0d0c22;
    font-weight: 700;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
    padding: 20px 10px;
    box-shadow: 5px 9px 50px rgb(0 0 0 / 6%);
}
.footerContainer div {
    width: 33%;
    color: #0d0c22;
    font-weight: 700;
    font-size: 12px;
}

.logoFooterContainer {
    margin-top: 10px;
    width: auto !important;
    transform: rotate(45deg);
    margin-left: 30px;
    margin-right: 20px;
}

.love {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.love p {
    padding: 0;
    margin: 0 15px;
}

@media screen and (max-width: 600px) {
    .entity {
        width: 30%;
    }
}
